.headerContainer {
  height: 60px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #e8eee1;
}
.logo {
  width: 90px;
  align-self: center;
  cursor: pointer;
  /* height: 100%; */
}
.menu {
  display: flex;
  position: relative;
}
.menu img:first-child {
  width: 30px;
  align-self: center;
  cursor: pointer;
}
.badge {
  background-color: #9fc0ff;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  z-index: 10;
  left: 23px;
  position: absolute;
  top: 5px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}
.menu img:nth-child(2) {
  width: 40px;
  margin: 0px 20px;
  align-self: center;
}
